/* Basic Styles */
	html{
		background-color: black;
	}
	#IMPLEMENTSUPPORTS path:hover, #MONITORPROGRESS path:hover, #ADJUSTSUPPORTS path:hover, #ANALYZERESULTS path:hover, #IDENTIFY path:hover, #PLAN path:hover {
		fill: #600922;
		cursor: pointer;
	} 
	#CONTEXTS:hover g path, #STATEPOLICY:hover g path, #COMMUNITY:hover g path, #HIGHEREDUCATION:hover g path, #LOCALPOLICY:hover g path, #RING:hover g path{
		fill: #9a3b47;
		cursor: pointer;
	} 
	#interactiveWrapper {
		position: relative;
		margin: 0 auto;
		width: 900px;
		height: 600px;
		font: 'Lusitana';
		font-family: 'Lusitana', serif;
		color: #818385;
		display: block;
		overflow: hidden;
	}
	#slideshow {
		position: relative;
		top: 0px;
		left: 0px;
		width: 3610px;
		height: 600px;
		display: inline-block;
	}
	.slide {
		position: relative;
		top: 0px;
		left: 0px;
		width: 900px;
		height: 600px;
		background-color: #FFFFFF;
		display: inline-block;
	}
	.slide.active {
		/*background-color: azure;*/
	}
	.slide .mask {
		position: relative;
		top: -600px;
		left: 0px;
		width: 900px;
		height: 600px;
		background-color: #818385;
		opacity: .5;
		z-index: 100;
	}
	.head {
		font: 'Montserrat';
		font-family: 'Montserrat', sans-serif;
		color: #231f20;
	}
	.nav {
		color: #9a3b47;
	}
	.icon {
		cursor: pointer;
	}
	.button {
		cursor: pointer;
	}
	.exit {
		cursor: pointer;
	}
	a, a:active, a:hover, a:visited { 
		color: #818385;
	}
	.bold {
		font-weight: bold;
	}
	li {
		list-style-position: inside;
	}

/* Slide 1 */

	.slide:nth-child(1) {
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
	}
	.slide:nth-child(1) .head {
		position: relative;
		margin: 42px 42px 24px 42px;
		text-align: center;
	}
	.slide:nth-child(1) .content {
		margin: 0 42px 24px 42px;
		line-height: 22px;
	}
	.slide:nth-child(1) .button {
		margin: 0 auto 24px auto;
		text-align: center;
		background-color: #9a3b47;
		padding-top: 12px;
		height: 36px;
		width: 192px;
		color: #FFFFFF;
		letter-spacing: 1px;
		border-radius: 8px 8px 8px 8px;
		-webkit-border-radius: 8px 8px 8px 8px;
		-moz-border-radius: 8px 8px 8px 8px;
		-ms-border-radius: 8px 8px 8px 8px;
		-o-border-radius: 8px 8px 8px 8px;
	}

/* Slide 2 */

	.slide:nth-child(2) {
		position: relative;
		top: -55px;
		left: -2px;
		font-family: 'Montserrat';
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.slide:nth-child(2) .head {
		position: relative;
		top: 0px;
		left: 0px;
		height: 48px;
		width: 900px;
		border-bottom: 2px solid #424142;
	}
	.slide:nth-child(2) .head .nav {
		position: relative;
		top: 0px;
		left: 760px;
		width: 138px;
		height: 48px;
		display: inline-block;
	}	
	.slide:nth-child(2) .head .nav .button {
		position: relative;
		width: 60px;
		display: inline-block;
	}
	.slide:nth-child(2) .head .nav .button:hover {
		color: #814d4d;
	}
	.slide:nth-child(2) .head .nav .button:hover .s2-img1 {
		background: url('../img/backcarrotsprite.png') 0 -15px;
	}
	.slide:nth-child(2) .head .siHeader {
		position: relative;
		top: 22px;
		left: -12px;
		height: 16px;
		width: 176px;
		padding-top: 4px;
		text-align: center;
		border: 2px solid #424142;
		background-color: #FFFFFF;
		display: inline-block;
		z-index: 10;
	}
	.slide:nth-child(2) .head .eciHeader {
		position: relative;
		top: 22px;
		left: 152px;
		height: 16px;
		width: 240px;
		padding-top: 4px;
		text-align: center;
		border: 2px solid #424142;
		background-color: #FFFFFF;
		display: inline-block;
		z-index: 10;
	}
	.slide:nth-child(2) .content {
		position: relative;
		width: 900px;
		height: 550px;
		top: 0px;
		left: 0px;
	}
	.slide:nth-child(2) .content .center {
		position: relative;
		top: 0px;
		left: 46px;
		height: 550px;
		width: 760px;
		display: inline-block;
	}
	.slide:nth-child(2) .content .center .dimensions {
		position: relative;
		width: 116px;
		height: 550px;
		padding: 0 16px 0 12px;
		display: inline-block;
	}
	.slide:nth-child(2) .content .center .dimensions .subhead {
		position: relative;
		top: 0px;
		left: 0px;
		height: 95px;
		width: 124px;
	}
	.slide:nth-child(2) .content .center .dimensions .subhead .header{
		position: relative;
		top: 28px;
		left: 0px;
		width: 108px;
		height: 16px;
		padding: 4px 0 0 0;
		border: 2px solid #818385;
		text-align: center;
	}
	.slide:nth-child(2) .content .center .dimensions .third {
		position: relative;
		width: 124px;
		height: 120px;
		font-size: 8px;
		font-weight: normal;
		letter-spacing: 1px;
		text-align: center;
	}
	.slide:nth-child(2) .content .center .dimensions .third:nth-child(2) {
		border-bottom: 1px solid #818385;
	}
	.slide:nth-child(2) .content .center .dimensions .third:nth-child(2) .carrot1 {
		position: relative;
		top: 16px;
		left: -54px;
	}
	.slide:nth-child(2) .content .center .dimensions .third:nth-child(2) .carrot2 {
		position: relative;
		top: -12px;
		left: 70px;
		transform: rotate(26deg);
		-webkit-transform: rotate(26deg);
		-moz-transform: rotate(26deg);
		-ms-transform: rotate(26deg);
		-o-transform: rotate(26deg);
	}
	.slide:nth-child(2) .content .center .dimensions .third .ap {
		position: relative;
		top: 12px;
		left: 0px;
	}
	.slide:nth-child(2) .content .center .dimensions .third:nth-child(3) {
		border-bottom: 1px solid #818385;
	}
	.slide:nth-child(2) .content .center .dimensions .third:nth-child(3) .carrot1 {
		position: relative;
		top: 46px;
		left: -54px;
	}
	.slide:nth-child(2) .content .center .dimensions .third:nth-child(3) .carrot2 {
		position: relative;
		top: -40px;
		left: 70px;
		background-color: #FFFFFF;
	}
	.slide:nth-child(2) .content .center .dimensions .third .at {
		position: relative;
		top: -6px;
		left: 0px;
	}
	.slide:nth-child(2) .content .center .dimensions .third .at .title {
		position: relative;
		top: 16px;
		left: 0px;
	}
	.slide:nth-child(2) .content .center .dimensions .third:nth-child(4) .carrot1 {
		position: relative;
		top: 76px;
		left: -56px;
	}
	.slide:nth-child(2) .content .center .dimensions .third:nth-child(4) .carrot2 {
		position: relative;
		top: -68px;
		left: 70px;
		transform: rotate(-26deg);
		-webkit-transform: rotate(-26deg);
		-moz-transform: rotate(-26deg);
		-ms-transform: rotate(-26deg);
		-o-transform: rotate(-26deg);
	}
	.slide:nth-child(2) .content .center .dimensions .third .ck {
		position: relative;
		top: 10px;
		left: 0px;
	}
	.slide:nth-child(2) .content .center .levels {
		position: relative;
		top: -141px;
		left: -4px;
		width: 168px;
		height: 550px;
		padding: 0 12px 0 16px;
		border-left: 1px solid #818385;
		display: inline-block;
	}
	.slide:nth-child(2) .content .center .levels .subhead {
		position: relative;
		top: -2px;
		left: 24px;
		height: 92px;
		width: 124px;
	}
	.slide:nth-child(2) .content .center .levels .subhead .header{
		position: relative;
		top: 28px;
		left: 0px;
		width: 108px;
		height: 16px;
		padding: 4px 0 0 0;
		border: 2px solid #818385;
		text-align: center;
	}
	.slide:nth-child(2) .content .center .levels .icons {
		position: relative;
		font-size: 8px;
		font-weight: normal;
		letter-spacing: 1px;
		text-align: center;
	}
	.slide:nth-child(2) .content .center .levels .icons .is {
		position: relative;
		top: 102px;
		left: -42px;

	}
	.slide:nth-child(2) .content .center .levels .icons .ss {
		position: relative;
		top: 102px;
		left: 42px;

	}
	.slide:nth-child(2) .content .center .levels .icons .dp {
		position: relative;
		top: 102px;
		left: -42px;

	}
	.slide:nth-child(2) .content .center .levels .icons .s2-img4 {
		position: relative;
		top: -19px;
		left: 96px;
	}
	.slide:nth-child(2) .content .center .cycle {
		position: absolute;
		top: 0px;
		left: 341px;
		width: 421px;
		height: 550px;
		border-left: 2px solid #424142;
		display: inline-block;
	}
	.slide:nth-child(2) .content .right {
		position: absolute;
		left: 810px;
		height: 550px;
		width: 90px;
		display: inline-block;
		background-color: #9a3b47;
	}
	.slide:nth-child(2) .content .right .text {
		position: relative;
		top: 246px;
		text-align: center;
		color: #FFFFFF;
	}

/* Slide 2 Modal */

	.slide:nth-child(2) .tsMask {
		display: none;
	}
	.slide:nth-child(2) .modal {
		position: absolute;
		top: 40px;
		left: 76px;
		width: 748px;
		height: 520px;
		z-index: 10;
		border-radius: 28px 28px 28px 28px;
		-webkit-border-radius: 28px 28px 28px 28px;
		-moz-border-radius: 28px 28px 28px 28px;
		-ms-border-radius: 28px 28px 28px 28px;
		-o-border-radius: 28px 28px 28px 28px;
		background-color: #FFFFFF;
		display: none;
	}
	.slide:nth-child(2) .modal .head {
		position: relative;
		width: 748px;
		height: 216px;
		border: none;
	}
	.slide:nth-child(2) .modal .head .row1 {
		position: relative;
		top: 0px;
		left: 0px;
		height: 100px;
		width: 748px;
		padding: 24px 0 0 0;
	}
	.slide:nth-child(2) .modal .head .row2 {
		position: relative;
		height: 40px;
		padding: 24px 0 24px 0;
	}
	.slide:nth-child(2) .modal .head .row2 .header {
		position: relative;
		margin: 0 auto;
		width: 392px;
		height: 28px;
		padding-top: 12px;
		border: 4px solid #424142;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 2px;
		text-align: center;
	}
	.slide:nth-child(2) .modal .content {
		position: relative;
		height: 304px;
		width: 698px;
		margin: 0 40px 0 50px;
		line-height: 24px;
		font-size: 14px;
		font-weight: normal;
		font-family: 'Lusitana', serif;
	}
	.slide:nth-child(2) .modal .content .button {
		position: relative;
		top: 20px;
		left: 548px;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.slide:nth-child(2) .modal .content .button img {
		position: relative;
		top: 2px;
	}

/* Slide 3 */

	.slide:nth-child(3) {
		position: relative;
		top: -32px;
		left: -4px;
		font-family: 'Montserrat';
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.slide:nth-child(3) .head {
		position: relative;
		top: 0px;
		left: 0px;
		height: 48px;
		width: 900px;
		border-bottom: 2px solid #424142;
	}
	.slide:nth-child(3) .head .nav {
		position: relative;
		top: 0px;
		left: 760px;
		width: 138px;
		height: 48px;
		display: inline-block;
	}
	.slide:nth-child(3) .head .nav .button {
		position: relative;
		width: 60px;
		display: inline-block;
	}
	.slide:nth-child(3) .head .nav .button:hover {
		color: #814d4d;
	}
	.slide:nth-child(3) .head .nav .button:hover .s2-img1 {
		background: url('../img/backcarrotsprite.png') 0 -15px;
	}
	.slide:nth-child(3) .head .eciHeader {
		position: relative;
		top: 22px;
		left: 152px;
		height: 16px;
		width: 240px;
		padding-top: 4px;
		text-align: center;
		border: 2px solid #424142;
		background-color: #FFFFFF;
		display: inline-block;
		z-index: 10;
	}
	.slide:nth-child(3) .content {
		position: relative;
		width: 900px;
		height: 550px;
		top: 0px;
		left: 0px;
	}
	.slide:nth-child(3) .content .center {
		position: relative;
		top: 32px;
		left: 178px;
	}
	.slide:nth-child(3) .content .center .carrot {
		position: relative;
		top: -240px;
		left: 134px;
	}
	.slide:nth-child(3) .content .right {
		position: absolute;
		top: 0px;
		left: 810px;
		height: 550px;
		width: 90px;
		display: inline-block;
		background-color: #9a3b47;
		cursor: pointer;
	}
	.slide:nth-child(3) .content .right .text {
		position: relative;
		top: 246px;
		text-align: center;
		color: #FFFFFF;
	}

/* Slide 3 Modal */

	.slide:nth-child(2) .eicMask {
		display: none;
	}
	.slide:nth-child(3) .modal {
		position: absolute;
		top: 178px;
		left: 168px;
		width: 480px;
		height: 280px;
		z-index: 10;
		border-radius: 28px 28px 28px 28px;
		-webkit-border-radius: 28px 28px 28px 28px;
		-moz-border-radius: 28px 28px 28px 28px;
		-ms-border-radius: 28px 28px 28px 28px;
		-o-border-radius: 28px 28px 28px 28px;
		background-color: #FFFFFF;
		display: none;
	}
	.slide:nth-child(3) .modal .head {
		position: relative;
		top: 0px;
		width: 438px;
		height: 118px;
		margin: 24px auto 0;
		border: none;
	}
	.slide:nth-child(3) .modal .head .m2-img2 {
		position: relative;
		top: 0px;
		left: 416px;
	}
	.slide:nth-child(3) .modal .head .header {
		position: relative;
		top: 24px;
		width: 392px;
		height: 24px;
		margin: 0 auto;
		padding-top: 12px;
		border: 4px solid #424142;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 2px;
		text-align: center;
	}
	.slide:nth-child(3) .modal .content {
		position: relative;
		height: 138px;
		width: 272px;
		margin: 0 auto;
		line-height: 24px;
		font-size: 14px;
		font-weight: normal;
		font-family: 'Lusitana', serif;
	}
	.slide:nth-child(3) .modal .content .button {
		position: relative;
		top: 20px;
		left: 548px;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.slide:nth-child(3) .modal .content .button img {
		position: relative;
		top: 2px;
	}

/* Slide 4 */

	.slide:nth-child(4) {
		position: relative;
		top: -119px;
		left: -6px;
		background-color: #9a3b47;
	}
	.slide:nth-child(4) a {
		color: #FFFFFF;
	}
	.slide:nth-child(4) .head {
		position: relative;
		top: 0px;
		left: 0px;
		height: 164px;
		width: 900px;
		border-bottom: 2px solid #FFFFFF;
		color: #FFFFFF;
	}
	.slide:nth-child(4) .head .nav {
		position: relative;
		top: 0px;
		left: 764px;
		width: 132px;
		height: 48px;
		display: inline-block;
		font-size: 12px;
	}
	.slide:nth-child(4) .head .nav .button {
		position: relative;
		width: 94px;
		display: inline-block;
		color: #FFFFFF;
	}
	.slide:nth-child(4) .head .nav .button:hover {
		color: #814d4d;
	}
	.slide:nth-child(4) .head .nav .button:hover .s4-img1 {
		background: url('../img/refreshiconsprite_30.png') 0 -30px;
	}
	.slide:nth-child(4) .head .crHeader {
		position: relative;
		top: 140px;
		left: 152px;
		height: 24px;
		width: 320px;
		padding-top: 8px;
		letter-spacing: 2px;
		text-align: center;
		border: 2px solid #FFFFFF;
		background-color: #9a3b47;
		display: inline-block;
		z-index: 10;
	}
	.slide:nth-child(4) .content {
		position: relative;
		top: 0px;
		left: 0px;
		width: 900px;
		height: 434px;
		color: #FFFFFF;
	}
	.slide:nth-child(4) .content .copy {
		position: relative;
		top: 0px;
		left: 0px;
		width: 480px;
		padding: 48px 0 0 136px;
		margin: 0 auto;
		font-weight: normal;
	}

/* Leaflet */

	.leaflet {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 50px;
		height: 600px;
		background-color: #9a3b47;
		display: none;
		z-index: 1000; /* Set to 100 */
		font: 'Montserrat';
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: #231f20;
	}
	.leaflet .static {
		position: relative;
		top: 0px;
		left: 0px;
		width: 50px;
		height: 600px;
		display: inline-block;
	}
	.leaflet .stem {
		height: 15px;
		width: 600px;
		padding: 17px 0 17px 0;
		text-align: center;
		color: #FFFFFF;
		display: inline-block;
		z-index: 10;
		font-size: 12px;
		letter-spacing: 2px;
		background-color: #9a3b47;
		border-bottom: 1px solid #600922;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-transition: background-color .6s;
		-moz-transition: background-color .6s;
		-ms-transition: background-color .6s;
		-o-transition: background-color .6s;
		transition: background-color .6s;
	}
	.leaflet .leaf {
		color: #FFFFFF;
	}
	.leaflet .static .tspStem {
		position: relative;
		top: 275px;
		left: -275px;
		background-color: #9a3b47;
		cursor: pointer;
	}
	.leaflet .sliding {
		position: relative;
		top: -600px;
		left: -550px;
		display: inline-block;	
		width: 600px;
		height: 600px;
		z-index: 0;
		overflow: hidden;
	}
	.leaflet .sliding .tspLeaf {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 500px;
		height: 600px;
		display: inline-block;
		background: #600922;
		z-index: 1000;
	}
	.leaflet .sliding .tspLeaf .tspHead {
		position: relative;
		top: 0px;
		left: 0px;
		width: 500px;
		height: 164px;
		border-bottom: 2px solid #FFFFFF;
	}
	.leaflet .sliding .tspLeaf .tspHead .tspHeader {
		position: relative;
		top: 150px;
		margin: 0 auto;
		width: 280px;
		height: 20px;
		border: 2px solid #FFFFFF;
		background-color: #600922; 
		text-align: center;
		letter-spacing: 2px;
		font-size: 14px;
		padding: 6px 0 0 0;
	}
	.leaflet .sliding .tspLeaf .content {
		position: relative;
		top: 0px;
		left: 0px;
		width: 500px;
		height: 372px;
	}
	.leaflet .sliding .tspLeaf .content .copy {
		position: relative;
		top: 0px;
		left: 0px;
		padding: 48px 46px 0 46px;
		height: 352px;
		width: 408px;
		font-family: 'Lusitana';
		font-size: 16px;
		line-height: 22px;
		font-weight: normal;
	}
	.leaflet .sliding .tspLeaf .content .copy a {
		color: #FFFFFF;
	}
	.leaflet .sliding .tspLeaf .content .tspNext {
		position: relative;
		left: 396px;
		width: 86px;
		height: 20px;
	}
	.leaflet .sliding .tspLeaf .content .tspNext img {
		position: relative;
		top: 2px;
	}
	.leaflet .sliding .siStem {
		position: absolute;
		top: 275px;
		left: 225px;
	}
	.leaflet .sliding .siLeaf {
		position: absolute;
		top: 0px;
		left: 50px;
		width: 500px;
		height: 600px;
		display: inline-block;
		background: #600922;
		z-index: 0;
		overflow: hidden;
	}
	.leaflet .sliding .siLeaf .slider {
		position: relative;
		top: 0px;
		left: 0px;
		width: 1000px;
		height: 600px;
	}
	.leaflet .sliding .siLeaf .slider .si1 {
		position: relative;
		top: 0px;
		left: 0px;
		width: 450px;
		height: 600px;
	}
	.leaflet .sliding .siLeaf .slider .si1 .siHead {
		position: relative;
		top: 0px;
		left: 0px;
		width: 500px;
		height: 226px;
		border-bottom: 2px solid #FFFFFF;
	}
	.leaflet .sliding .siLeaf .slider .si1 .siHead .siHeader {
		position: relative;
		top: 212px;
		margin: 0 auto;
		width: 280px;
		height: 20px;
		border: 2px solid #FFFFFF;
		background-color: #600922; 
		text-align: center;
		letter-spacing: 2px;
		font-size: 14px;
		padding: 6px 0 0 0;
	}
	.leaflet .sliding .siLeaf .slider .si1 .content {
		position: relative;
		top: 0px;
		left: 0px;
		width: 500px;
		height: 372px;
	}
	.leaflet .sliding .siLeaf .slider .si1 .content .copy {
		position: relative;
		top: 0px;
		left: 0px;
		padding: 48px 60px 0 60px;
		height: 282px;
		width: 380px;
		font-family: 'Lusitana';
		font-size: 16px;
		line-height: 22px;
	}
	.leaflet .sliding .siLeaf .slider .si1 .content .siNext {
		position: relative;
		top: 0px;
		left: 0px;
		height: 42px;
		width: 500px;
	}
	.leaflet .sliding .siLeaf .slider .si1 .content .siNext .button {
		position: relative;
		top: 8px;
		left: 398px;
		width: 86px;
	}
	.leaflet .sliding .siLeaf .slider .si1 .content .siNext .button img {
		position: relative;
		top: 2px;
	}
	.leaflet .sliding .siLeaf .slider .si2 {
		position: relative;
		top: -600px;
		left: 500px;
		width: 500px;
		height: 600px;
		background-color: #FFFFFF;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siHead {
		position: relative;
		top: 0px;
		left: 0px;
		width: 500px;
		height: 36px;
		border-bottom: 2px solid #424142;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siHead .siHeader {
		position: relative;
		top: 20px;
		margin: 0 auto;
		width: 280px;
		height: 20px;
		border: 2px solid #424142;
		background-color: #FFFFFF; 
		text-align: center;
		letter-spacing: 2px;
		font-size: 14px;
		color: #424142;
		padding: 6px 0 0 0;
		z-index: 10;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions {
		position: absolute;
		top: 38px;
		left: 0px;
		width: 249px;
		height: 562px;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions .header{
		position: relative;
		top: 0px;
		margin: 28px auto 4px auto;
		width: 108px;
		height: 16px;
		padding: 4px 0 0 0;
		border: 2px solid #818385;
		text-align: center;
		color: #818385;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions .third {
		height: 168px;
		width: 249px;
		border-right: 1px solid #818385;
		border-bottom: 1px solid #818385;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions .third:nth-child(4) {
		border-bottom: none;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siLevels {
		position: absolute;
		top: 38px;
		left: 249px;
		width: 250px;
		height: 562px;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siLevels .header{
		position: relative;
		top: 0px;
		margin: 28px auto 4px auto;
		width: 108px;
		height: 16px;
		padding: 4px 0 0 0;
		border: 2px solid #818385;
		text-align: center;
		color: #818385;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siLevels .third {
		border-left: 1px solid #818385;
		border-bottom: 1px solid #818385;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siLevels .third, .front, .back {
		height: 168px;
		width: 250px;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siLevels .third:nth-child(4) {
		border-bottom: none;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions .third .flipper, .leaflet .sliding .siLeaf .slider .si2 .siLevels .third .flipper {
		perspective: 10;
		-webkit-perspective: 10;
		-moz-perspective: 10;
		-ms-perspective: 10;
		-o-perspective: 10;
		border: none;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions .third:hover .flipper, .leaflet .sliding .siLeaf .slider .si2 .siLevels .third:hover .flipper {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions .third .flipper, .leaflet .sliding .siLeaf .slider .si2 .siLevels .third .flipper {
		position: relative;
		transition: 0.6s;
		-webkit-transition: 0.6s;
		-moz-transition: 0.6s;
		-ms-transition: 0.6s;
		-o-transition: 0.6s;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions .third .flipper .front, .leaflet .sliding .siLeaf .slider .si2 .siLevels .third .flipper .front {
		z-index: 100;
		background-color: #FFFFFF;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions .third .flipper .back, .leaflet .sliding .siLeaf .slider .si2 .siLevels .third .flipper .back {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		background-color: #600922;
	}
	.leaflet .sliding .siLeaf .slider .si2 .siDimensions .third .flipper .front, .leaflet .sliding .siLeaf .slider .si2 .siDimensions .third .flipper .back, .leaflet .sliding .siLeaf .slider .si2 .siLevels .third .flipper .front, .leaflet .sliding .siLeaf .slider .si2 .siLevels .third .flipper .back {
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.leaflet .sliding .eciStem {
		position: absolute;
		top: 275px;
		left: 175px;
		z-index: -10;
		cursor: pointer;
		-webkit-transition: background-color .6s;
		-moz-transition: background-color .6s;
		-ms-transition: background-color .6s;
		-o-transition: background-color .6s;
		transition: background-color .6s;
	}
	.leafletNav {
		position: absolute;
		top: 0px;
		left: 759px;
		width: 138px;
		height: 48px;
		display: inline-block;
		color: #9a3b47;
	}	
	.leafletNav .button {
		position: relative;
		width: 60px;
		display: inline-block;
	}
	.leafletNav .button:hover {
		color: #814d4d;
	}
	.leafletNav .button:hover .s2-img1 {
		background: url('../img/backcarrotsprite.png') 0 -15px;
	}

/* Images & Sprite Sheets */

	.s1-img1 {
		position: relative;
	}
	.s1-img2 {
		position: relative;
		top: 3px;
		left: 8px;
	}
	.m1-img1 {
		position: relative;
		top: 0px;
		left: 324px;
	}
	.m1-img2 {
		position: relative;
		top: -80px;
		left: 600px;
	}
	.s2-img1 {
		position: relative;
		top: 3px;
		width: 15px;
		height: 15px;
		display: inline-block;
		background: url('../img/backcarrotsprite.png') 0 0;
	}
	.s2-img1:hover {
		background: url('../img/backcarrotsprite.png') 0 -15px;
	}
	.s2-img2 {
		position: relative;
		top: 10px;
		width: 30px;
		height: 30px;
		display: inline-block;
		background: url('../img/cycleiconsprite_30.png') 0 0;
	}
	.s2-img2:hover {
		background: url('../img/cycleiconsprite_30.png') 0 -30px;
	}
	.s2-img3 {
		position: relative;
		top: 10px;
		width: 30px;
		height: 30px;
		display: inline-block;
		background: url('../img/logoiconsprite_30.png') 0 0;
	}
	.s2-img3:hover {
		background: url('../img/logoiconsprite_30.png') 0 -30px;
	}
	.s2-img4 {
		position: relative;
		width: 25px;
		height: 25px;
		display: inline-block;
		z-index: 10;
		background: url('../img/carrotgreycircle.png') 0 0;
	}
	.s2-img4-2 {
		position: relative;
		width: 15px;
		height: 15px;
		display: inline-block;
		z-index: 10;
		background: url('../img/carrotgrey.png') 0 0;
	}
	.s2-img5 {
		position: relative;
		margin-bottom: 4px;
	}
	.s2-img6 {
		position: relative;	
		top: 16px;
		margin-bottom: 4px;
	}
	.s2-img7 {
		position: relative;
		margin-bottom: 4px;
	}
	.s2-img8 {
		position: relative;
		margin-bottom: 4px;
	}
	.s2-img9 {
		position: relative;
		margin-bottom: 4px;
	}
	.s2-img10 {
		position: relative;
		margin-bottom: 4px;
	}
	.s2-img11 {
		position: relative;
		top: 94px;
		left: 32px;
		display: inline-block;
	}
	.s4-img1 {
		position: relative;
		top: 10px;
		left: 0px;
		width: 30px;
		height: 30px;
		display: inline-block;
		background: url('../img/refreshiconsprite_30.png') 0 0;
	}